# Ignore these files & directories
.DS_Store
node_modules
*.sock
*env*
*xlsx
newrelic_agent.log
bower_components/

public/
!public/css/*
!public/js/*
!public/assets/*

# Unless they match this file path
# !bower_components/bootstrap/dist/css/bootstrap.min.css
# !bower_components/jquery/dist/jquery.min.js
# !bower_components/bootstrap/dist/js/bootstrap.min.js
