extends ../template/layout

block content
	section.header
		include ./elements/header
	section.banner
		include ./elements/banner
	section.features
		include ./elements/features
	section.purchase
		include ./elements/purchase