include ../template/head

h4 Stripe API
	:markdown
		index: 		[/transactions](/transactions)  
		show:			[/transactions/1](/transactions/1)  
		new:			[/transactions/new](/transactions/new)  
		reports: 	[/reports/merchants-by-volume](/reports/merchants-by-volume)

h4 Github Repo
	:markdown
		txn: 			[https://github.com/skilbjo/txn](https://github.com/skilbjo/txn)

include ../template/footer