extends ../template/layout

block content
	include ./elements/jumbotron

	section.details
		include ./elements/details
	section.sample
		include ./elements/sample
	section.purchase
		include ./elements/purchase