include ../template/head

h4 Stripe API
	:markdown
		index: 		[/transactions](/transactions)  
		show:			[/transactions/1](/transactions/1)  
		new:			[/transactions/new](/transactions/new)

h4 Github Repo
	:markdown
		txn: 			[https://github.com/skilbjo/xltest](https://github.com/skilbjo/xltest)

include ../template/footer