extends ../template/layout

block content
	include ./elements/jumbotron

	section.details
		include ./elements/details
	section.purchase
		include ./elements/purchase
	section.about
		include ./elements/about