extends ../template/layout

block content
	.container
		.intro
			h1 XL Test
			p.lead Test your MS Excel skills

	.container
		.main
			h4 Stripe API
				:markdown
					index: 		[/transactions](/transactions)  
					show:			[/transactions/1](/transactions/1)  
					new:			[/transactions/new](/transactions/new)

			h4 Github Repo
				:markdown
					txn: 			[https://github.com/skilbjo/xltest](https://github.com/skilbjo/xltest)
