div.form-container(style='margin-top: 10px;')
	ul.formlist
		h2.content-title(style='text-align:left;') payment form
			label.form-sublabel 
			label.form-sublabel payment info handled by stripe's api
			label.form-sublabel your card will be charged $1 usd
			label.form-sublabel xl test will be emailed to you
		div
			div.payment-errors
		div
			div.form-field.name-field(style='margin: 5px 0px 5px 0px;')
				label.form-label contact info
				div(style='clear:both;')
				div.form-input-container.form-left.form-input-first-name
					input.form-input.input(name='name', placeholder='Mr. I <3 Excel')
					label.form-sublabel NAME
				div.form-input-container.form-right.form-input-last-name
					input.form-input.input(name='email', placeholder='excelLuvR63@gmail.com', required)
					label.form-sublabel EMAIL 
						span.form-required *
					div(style='clear:both;')
					br
		div
			.form-group
				div.form-field(style='margin: 5px 0px 5px 0px;')
						label.form-label.control-label card no 
							span.form-required *
						small(class='text-muted')
							span(class='cc-brand')
						div.form-input-container
							input.cc-number.form-control.form-input.input(data-stripe='number', id='cardNumber', autocomplete='cc-number', required, placeholder='CARD NO## GOES HERE')
		div
			.form-group
				div.form-group.form-field(style='margin:5px 0px 5px 0px;')
					div.form-input-container
							label.form-label.control-label exp   
								span.form-required *
							div.form-input-container.form-right
								input.cc-exp.form-control.form-input.input(required, id='cardExpiration', autocomplete='cc-exp', placeholder='Expiry Date')
			.form-group
				div.form-group.form-field(style='margin: 5px 0px 5px 0px;')
					div.form-input-container
							label.form-label.control-label cvc 
								span.form-required *
							div.form-input-container.form-right
								input.cc-cvc.form-control.form-input.input(data-stripe='cvc', autocomplete='off', required, placeholder='Security Code')
							div(style='clear:both;')
div(style='text-align:center; margin:10px 0px 5px 0px;')
	span.button
		span.button-inner
			input.payment-btn(type='submit', value='SUBMIT')



