/*Forms*/

/*== Button ==*/
.purchase .button {
	font-size: 1.6em !important;
	padding: .9em 1em !important;
}

.button { 
	font-family: 'Montserrat', Helvetica, sans-serif; 
	text-transform: uppercase; 
	font-size: 1.25em !important; 
	display: inline-block; 
	color: #ffffff !important; 
	background: #000000 !important; 
	padding: .8em 1.2em !important; 
	line-height: 1 !important; 
	cursor: default;
}

.button-inner { 
	float: none; 
	background: none !important; 
	padding: 0 !important; 
	height: auto; 
	line-height: 1 !important; 
	font-weight: 700 !important; 
	color: inherit !important; 
}

input.payment-btn {
	-webkit-font-smoothing: antialiased !important;
	letter-spacing: .02em;
	float: none;
	background: none !important;
	padding: 0 !important;
	height: auto;
	line-height: 1 !important;
	font-weight: 700 !important;
	color: inherit !important;
	cursor: default;
}

.button:hover, .button:active { 
	color: #000000 !important; 
	background: #ffff00 !important; 
}

/*== Input ==*/
.form-input { 
	font-family: 'Sintony', Helvetica, sans-serif; 
	font-weight: bold; 
	font-size: 1.15em; 
	color: #000000; 
	background: #ffffff; 
	padding: 8px !important; 
	border-radius: 0 !important; 
}

.form-input:focus { 
	background: #ffff00; 
	color: #000000; 
	border-top: 0; 
	border-bottom: 0; 
	border-right: 0; 
	padding: 12px 8px !important; 
}

.form-input {
	padding: 8px !important;
	border-radius: 0 !important;
	border: 4px solid #000000;
}

input:focus, select:focus, textarea:focus, button:focus { 
	outline: none; 
}

/*== Fields ==*/
.form-field div.form-input-container .form-input{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;b
	ox-sizing:border-box;
	width:100% !important
}

.form-field { 
	margin: 0 auto 2.5em !important; 
	max-width:500px
}

.form-left { 
	float: left;
}

.form-right{
	float:right;
}

.name-field .form-input-first-name {
	width:40%
}

.name-field .form-input-last-name {
	width:55%
}

/*== Labels ==*/
.form-label { 
	display: inline-block; 
	color: #000000; 
	font-family: 'Montserrat', Helvetica, sans-serif; 
	font-size: 1.25em; 
	text-transform: uppercase; 
	line-height: 1; padding: 0 0 .5em; 
}

.form-sublabel {
	display: block;
	padding-bottom: 5px !important;
	font-size:11px
}

.form-required { 
	color: #000000; 
	font-weight: normal !important; 
	color:red;
}