div.footer
	hr.featurette-divider
	div
		p.pull-right
			a(href='#') Back to top
		p
			| &copy; John Skilbeck &middot; 
			a(href='https://github.com/skilbjo/xltest') Source Code
			|  &middot; 
			a(href='https://twitter.com/skilbjo') Contact
	script(src='/bower/bootstrap/dist/js/bootstrap.min.js')