doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='description', content='An Excel test to challenge your Excel skills')
		meta(name='viewport', content='width=device-width', initial-scale=1)
		meta(name='author', content='John Skilbeck')
		title= 'XL TEST'
		link(rel='stylesheet', type='text/css', href='/public/dist/style.min.css')
		script(src='/bower/jquery/dist/jquery.min.js')
