div#navigation
	div#nav
		ul.wsite-menu-default
			li.wsite-nav-0
				a(href='/') home
			li.wsite-nav-1
				a(href='/purchase') purchase
			li.wsite-nav-2
				a(href='https://twitter.com/skilbjo') contact