
.intro {
  padding: 10px 15px;
  text-align: center;
}

.main {
	padding: 10px 15px;
	text-align: center;
}

.has-error input {
  border-width: 2px;
}

.validation.text-danger:after {
  content: 'Validation failed';
}

.validation.text-success:after {
  content: 'Validation passed';
}

@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}