/* Site Wide */
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
  .jumbotron h1 {
    font-size: 31px;
  }
}

.body-white {
  /*background-color: #344953;*/
  background-color: white; 
  color: rgb(53,61,79);
  p {
    color: rgb(98,105,124);
  }
}

/* Elements */

.jumbotron-main {
  padding: 0px 15px;
  text-align: center;
  color: red;
  background-image: url('/public/assets/images/hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.details {
	padding: 10px 15px;
	text-align: center;
}

.purchase {
  padding: 10px 15px;
  text-align: center;
}

.sample {
  padding: 10px 15px;
  text-align: center;
}

.about {
  padding: 10px 15px;
  text-align: center;
}

.footer {
  text-align: center;
}

/* Errors */

.has-error input {
  border-width: 2px;
}
.validation.text-danger:after {
  content: 'Validation failed';
}

.validation.text-success:after {
  content: 'Validation passed';
}

.text-muted {
  text-transform: capitalize
}

/* NavBar */

.navbar-default {
  background-color: #0096ff;
  border-color: #0433ff;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
