.container.details
	.row
		.col-md-4
			p.lead Who does this help?
			p This helps students
		.col-md-4
			p.lead Why use this?
			p Use this to help assess your skillset
		.col-md-4
			p.lead Tailor a lesson plan
			p Build a lesson plan based on your skill level!