div#features
	div(style='margin:10px 0px 0px 0px;')
		h2 What is this?
		p I give an Excel test to everyone I interview to join my team
		p Many people would list 'Advanced MS Excel' on their CV
		p However, when tested with this test, they would fail
		br
	div(style='margin:10px 0px 0px 0px;')
		h2 Practice your Excel skills before the interview
		p Dazzle your coworkers with expert use of
		p 	Data analysis
		p 	Data tables
		p 	Pivot tables
		p 	=VLOOKUP
		p 	=SUMIFS
		p 	Conditional Formatting