div.button-wrap
	div(style='text-align: center;')
		div(style='height: 10px; overflow: hidden;')
		a.wsite-button.wsite-button-large.wsite-button-normal(href='/purchase')
			span.wsite-button-inner
				| PURCHASE
		div(style='height: 10px; overflow: hidden;')