.container.sample
	h3 Sample Questions
	.row
		.col-md-4
			p.lead vlookup
			p What does a vlookup do?
		.col-md-4
			p.lead pivot tables
			p When should you aim for a pivot table?
		.col-md-4
			p.lead error handling
			p Give me the most appropriate formula for error handling