extends ../template/layout

block content
	section.form
		div#content
			div
				div(style='height: 20px; overflow: hidden; width: 100%;')
				div(style='height: 20px; overflow: hidden; width: 100%;')
			div
				form#payment-form(action='/purchase', method='post', autocomplete='on')
					include ./elements/form			
			h2.validation
			
	script(src='https://js.stripe.com/v2/')
	script(src='/public/dist/purchase.min.js')

include ../template/footer