extends ../template/layout

block content
	section.form
		div#content
			div
				div(style='height: 20px; overflow: hidden; width: 100%;')
				div(style='height: 20px; overflow: hidden; width: 100%;')
			div
				| Thanks so much for Purchasing!
				| Here are the details of your transaction:


include ../template/footer